<template>
  <div>

  <b-row>
    <b-col>
      <h1 class="mb-3">Configuration</h1>
    </b-col>
  </b-row>
  <b-row>
    <b-col md="6">
      <b-form-group
        id="fieldset-nb-cases-reso"
        label-cols-sm="4"
        label-cols-lg="4"
        label="Nombre de case par résolution"
        label-for="nb-cases-reso"
      >
        <b-form-select
          id="nb-cases-reso"
          :options="form.nbCaseReso"
        ></b-form-select>
      </b-form-group>
    </b-col>
  </b-row>
  <b-row>
    <b-col md="6">
      <b-form-group
        id="fieldset-nb-reso-agrees"
        label-cols-sm="4"
        label-cols-lg="4"
        label="Nombre résolutions agrées"
        label-for="nb-reso-agrees"
      >
        <b-form-input
          id="nb-reso-agrees"
          type="number"
          min="0"
        ></b-form-input>
      </b-form-group>
    </b-col>
    <b-col md="6">
      <b-form-group
        id="fieldset-nb-reso-nonagrees"
        label-cols-sm="4"
        label-cols-lg="4"
        label="Nombre résolutions non-agrées"
        label-for="nb-reso-nonagrees"
      >
        <b-form-input
          id="nb-reso-nonagrees"
          type="number"
          min="0"
        ></b-form-input>
      </b-form-group>
    </b-col>
  </b-row>

  </div>
</template>

<style>
.drag-icon {
  display:inline-block;
  margin-right: 20px;
  cursor: pointer;
}
.inst-form {
  display: inline-block;
}
.delete-btn-span {
  float: right;

}
</style>

<script>
// @ is an alias to /src
import { mapState } from 'vuex'

export default {
  name: 'Config',
  components: {},
  data () {
    return {
      form: {
        nbCaseReso: [1,2,3]
      },
    }
  },
  computed: {
    nbCasesReso: {
      get() {
        return this.$store.state.nbCasesReso;
      },
      set(value) {
        this.$store.commit('SET_NBCASESRESO', value);
      }
    },
    nbResoAgrees: {
      get() {
        return this.$store.state.nbResoAgrees;
      },
      set(value) {
        this.$store.commit('SET_NBRESOAGREES', value);
      }
    },
    nbResoNonAgrees: {
      get() {
        return this.$store.state.nbResoNonAgrees;
      },
      set(value) {
        this.$store.commit('SET_NBRESONONAGREES', value);
      }
    },
    instructions: {
      get() {
        return this.$store.state.instructions;
      },
      set(value) {
        this.$store.commit('SET_INSTRUCTIONS', value);
      }
    },
  },
  methods: {
    addInstruction() {
      // const newInstruction = {
      //   nom: ''
      // };
      // this.$store.commit('ADD_INSTRUCTION', newInstruction)
      this.instructions.push({
        value: '',
      });
    },
    removeInstruction(index) {
      // this.$store.commit('REMOVE_INSTRUCTION', index);
      this.instructions.splice(index, 1);
    },
    updateInstructionText(index, event) {
      this.instructions[index].text = event;
    }
  }
}
</script>
