<template>
  <div>

  <!-- MINIFIED -->
  <b-row class="my-2">
    <b-col>
      <h3>Code-code-codet'</h3>
      <codemirror v-model="editContent" :options="cmOptionsEdit"></codemirror>
    </b-col>
  </b-row>
  <b-row class="my-2">
    <b-col>
      <hr/>
      <div class="btn-bar">
        <b-button class="mx-1" @click="minify()"><b-icon icon="arrows-angle-contract"></b-icon> Minimiser</b-button>
        <b-button class="mx-1" @click="beautify()"><b-icon icon="arrows-angle-expand"></b-icon> Développer</b-button>
      </div>
      <hr/>
    </b-col>
  </b-row>
  <!-- BEAUTIFED -->
  <b-row class="my-2">
    <b-col>
      <h3>Résultat</h3>
      <pre class="result-content-pre">{{ resultContent }}</pre>
    </b-col>
  </b-row>

  </div>
</template>

<style scoped>

.btn-bar {
  text-align: center;
}
.CodeMirror {
  height: 300px;
}
.result-content-pre {
  border: 1px solid black;
  height: 400px;
}
</style>

<script>
import beautify from 'js-beautify';
import { codemirror } from 'vue-codemirror'
import 'codemirror/lib/codemirror.css'
import 'codemirror/theme/monokai.css'
import 'codemirror/mode/htmlmixed/htmlmixed.js'
import 'codemirror/mode/xml/xml.js'
import 'codemirror/mode/css/css.js'
import utils from '../lib/utils'

export default {
  name: 'Minify',
  components: { codemirror },
  props: {
    properties: Object,
  },
  data () {
    return {
      editContent: '',
      resultContent: '',
      cmOptionsEdit: {
        mode:  "htmlmixed",
        htmlMode: true,
        lineNumbers: true,
        autoCloseTags: true,
        theme: 'monokai',
        indentUnit: 2,
        tabSize: 2,
        indentWithTabs: false,
        lineWrapping: true,
      },
      cmOptionsReadOnly: {
        mode:  "htmlmixed",
        htmlMode: true,
        lineNumbers: true,
        autoCloseTags: true,
        theme: 'monokai',
        indentUnit: 2,
        tabSize: 2,
        indentWithTabs: false,
        lineWrapping: true,
        readOnly: true,
      },
      beautifyOptions: {
        indent_size: 2,
        indent_char: " ",
        indent_with_tabs: false,
        editorconfig: false,
        eol: "\n",
        end_with_newline: false,
        indent_level: 0,
        preserve_newlines: true,
        max_preserve_newlines: 10,
        space_in_paren: false,
        space_in_empty_paren: false,
        jslint_happy: false,
        space_after_anon_function: false,
        space_after_named_function: false,
        brace_style: "collapse",
        unindent_chained_methods: false,
        break_chained_methods: false,
        keep_array_indentation: false,
        unescape_strings: false,
        wrap_line_length: 0,
        e4x: false,
        comma_first: false,
        operator_position: "before-newline",
        indent_empty_lines: false,
        templating: ["auto"]
      },
      minifyOptions: {
        removeAttributeQuotes: true,
        collapseWhitespace: true
      }
    }
  },
  computed: {
    contentToExport: function() { return this.properties.contentToExport; }
  },
  methods: {
    returnData() {
      this.$emit('backTo', this.contentToEdit);
    },
    beautify() {
      this.resultContent = beautify.html(this.editContent, this.beautifyOptions);
    },
    minify() {
      let self = this;
      this.resultContent = utils.minifyHTML(this.editContent);
    }        
  }
}
</script>
