<template>
  <div>

  <b-row v-if="display == 'propertiesList'" align-h="center" class="mb-3">
    <b-col md="6">
      <b-row>
        <b-col>
          <h1 class="mb-3">Editeur</h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label-cols="4" label-cols-md="2" label="Nombre de clés" label-for="input-propertiesnb">
            <b-input-group>
              <b-form-input
                type="number"
                min="0"
                id="input-propertiesnb"
                v-model="form.propertiesNb"
              ></b-form-input>
              <b-input-group-append>
                <b-button variant="danger" @click="reinitPropertiesNb()">Reinit</b-button>
                <b-button variant="success" @click="addProperty()">Ajouter</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="buttons-right">
          <b-button v-b-modal.import-modal variant="primary" class="mx-1"><b-icon icon="code-slash"></b-icon> Importer des properties</b-button>
          <b-button v-b-modal.export-modal variant="success" class="mx-1" @click="exportProperties()"><b-icon icon="code-slash"></b-icon> Préparer les properties</b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <hr/>
          <b-list-group>
            <b-list-group-item v-for="(property, index) in properties.list" :key="index">
              <label class="inline-label" for="'input-reso-id-'+index">Clé</label>
              <b-input
                :id="'input-reso-id-'+index"
                class="inline-input"
                v-model="property.cle"
              ></b-input>
              <span class="delete-btn-span"><b-button variant="primary" @click="editProperty(index)"><b-icon icon="pencil"></b-icon></b-button></span>
              <span class="delete-btn-span"><b-button variant="danger" @click="removeProperty(index)"><b-icon icon="trash"></b-icon></b-button></span>
            </b-list-group-item>
          </b-list-group>
        </b-col>
      </b-row>
    </b-col>
  </b-row>

  
  <b-row v-if="display == 'propertyEdit'">
    <b-col>
      <editor
        v-bind:initial-content-to-edit="propertyToEdit.contenu"
        v-bind:show-return-btn="true"
        v-on:backTo="backToPropertiesList($event)"
      >
        <template v-slot:title>{{ propertyToEdit.cle }}</template>
      </editor>
    </b-col>
  </b-row>

  <!-- Import/Export -->
  <b-modal
    id="import-modal"
    size="xl"
    title="Properties"
    @ok="importProperties()"
  >
    <template v-slot:modal-ok>Importer</template>
    <b-form-textarea
      id="textarea-import"
      placeholder="Copiez les properties"
      rows="8"
      v-model="importPropertiesText"
    ></b-form-textarea>
  </b-modal>

  <b-modal
    id="export-modal"
    size="xl"
    title="Properties"
    ok-only
    @ok="exportPropertiesText = ''"
  >
    <b-form-textarea
      id="textarea-export"
      rows="8"
      v-model="exportPropertiesText"
    ></b-form-textarea>

    <b-tooltip :show.sync="showCopySuccessTooltip" target="btn-copy-clipboard" placement="right" triggers="manual">
      Contenu copié
    </b-tooltip>
    <b-tooltip :show.sync="showCopyErrorTooltip" target="btn-copy-clipboard" placement="right" triggers="manual">
      Oups... Ca n'a pas marché
    </b-tooltip>
  </b-modal>


  </div>
</template>

<style scoped>
.inline-label {
  display:inline-block;
  margin-right: 10px;
}
.inline-input {
  display: inline-block;
  width: 50%;
}
.delete-btn-span {
  float: right;
  margin: 0 5px;
}
.preview-col {
  border-left: solid 1px black;
}
.buttons-right {
  text-align: right;
}
</style>

<script>
// @ is an alias to /src
import Editor from '../components/Editor'
import Utils from '../lib/utils'


export default {
  name: 'List',
  components: { Editor },
  props: {
    properties: Object,
  },
  data () {
    return {
      editor: null,
      display: 'propertiesList',
      form: {
        propertiesNb: 2
      },
      indexToEdit: null,
      propertyToEdit: null,
      importPropertiesText: '',
      exportPropertiesText: '',
      showCopySuccessTooltip: false,
      showCopyErrorTooltip: false,
    }
  },
  computed: {
    
  },
  methods: {
    reinitPropertiesNb() {
      this.properties.list = [];
      for(let i=0;i<this.form.propertiesNb;i++) {
        this.properties.list.push({
          cle: '',
          contenu: '',
        });
      }
    },
    addProperty() {
      this.properties.list.push({
        cle: '',
        contenu: '',
      });
      this.form.propertiesNb++;
    },
    removeProperty(index) {
      this.properties.list.splice(index, 1);
      this.form.propertiesNb--;
    },
    editProperty(index) {
      this.indexToEdit = index;
      this.propertyToEdit = this.properties.list[index];
      this.display = 'propertyEdit';
    },
    backToPropertiesList(data) {
      this.properties.list[this.indexToEdit].contenu = data;
      this.indexToEdit = null;
      this.propertyToEdit = null;
      this.display = 'propertiesList';
    },
    importProperties() {
      this.properties.list = Utils.processProperties(this.importPropertiesText);
      this.importPropertiesText = ''
    },
    exportProperties() {
      this.exportPropertiesText = Utils.exportProperties(this.properties.list);
    },
  }
}
</script>
