<template>
  <div>
    <b-row class="mt-2">
      <b-col>
        <h2>Bac à sable</h2>
      </b-col>
    </b-row>

    <editor
      :initial-content-to-edit="''"
      :show-return-btn="false"
    ></editor>

  </div>
</template>

<style>
.CodeMirror {
  height: auto;
}
</style>

<script>
import Editor from '../components/Editor'

export default {
  name: 'Sandbox',
  components: { Editor },
  data () {
    return {
      
    }
  },
  computed: {
    
  },
  methods: {
    
  }
}
</script>
