<template>
  <div>

  <b-row class="top-row">
    <b-col>
      <h2><span v-if="showReturnBtn"><b-button variant="secondary" @click="returnData()"><b-icon icon="arrow-left"></b-icon> Retour</b-button> | </span><slot name="title"></slot></h2>
    </b-col>
  </b-row>
  <b-row class="code-row">
    <b-col lg="6">
      <b-row>
        <b-col>
          <h4>Code</h4>
          <p class="font-italic">Modifiez le code.</p>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <hr/>
          <codemirror v-model="contentToEdit" :options="cmOptions"></codemirror>
        </b-col>
      </b-row>
    </b-col>
    <b-col lg="6" class="preview-col">
      <b-row>
        <b-col>
          <h4>Preview</h4>
          <p class="font-italic">Le rendu HTML ne tient pas compte du style de Voxcore.</p>
        </b-col>
        <b-col sm="auto">
          <b-button v-b-modal.preview-modal variant="outline-secondary"><b-icon icon="gear-fill"></b-icon></b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <hr/>
          <div class="preview-content" v-bind:class="{ 'preview-panel-border': previewOptions.showBorder }" v-html="contentToEdit"></div>
        </b-col>
      </b-row>
    </b-col>
  </b-row>

  <!-- Preview settings -->
  <b-modal
    id="preview-modal"
    size="lg"
    title="Paramètres de preview"
    ok-only
  >
    <!-- previewBorder -->
    <b-form-group label-cols="4" label-cols-lg="4" label="Afficher la bordure : " label-for="check-preview-show-border" label-size="sm">
      <b-form-checkbox v-model="previewOptions.showBorder" name="check-preview-show-border" id="check-preview-show-border" switch size="sm"></b-form-checkbox>
    </b-form-group>
  </b-modal>

  </div>
</template>

<style scoped>
.inline-label {
  display:inline-block;
  margin-right: 10px;
}
.inline-input {
  display: inline-block;
  width: 50%;
}
.delete-btn-span {
  float: right;
  margin: 0 5px;
}

.CodeMirror {
  height: auto;
}
.preview-panel-border {
  border: dotted black 1px;
}
.code-row {
  margin-top: 20px;
}

</style>

<script>
import beautify from 'js-beautify';
import { codemirror } from 'vue-codemirror'
import 'codemirror/lib/codemirror.css'
import 'codemirror/theme/monokai.css'
import 'codemirror/mode/htmlmixed/htmlmixed.js'
import 'codemirror/mode/xml/xml.js'
import 'codemirror/mode/css/css.js'

export default {
  name: 'Editor',
  components: { codemirror },
  props: {
    initialContentToEdit: String,
    showReturnBtn: {
      type: Boolean,
      default: false,
    }
  },
  data () {
    return {
      contentToEdit: beautify.html(
        this.initialContentToEdit, 
        {
          indent_size: 2,
          indent_char: " ",
          indent_empty_lines: true,
          end_with_newline: false,
          preserve_newlines: true,
          max_preserve_newlines: 10,
          indent_inner_html: false,
          brace_style: "collapse",
          indent_script: "normal",
          wrap_line_length: 0,
          wrap_attributes: "auto",
        },
      ),
      cmOptions: {
        mode:  "htmlmixed",
        htmlMode: true,
        lineNumbers: true,
        autoCloseTags: true,
        theme: 'monokai',
        smartIndent: true,
        indentUnit: 2,
        tabSize: 2,
        indentWithTabs: false,
        lineWrapping: true,
        viewportMargin: 200,
      },
      previewOptions: {
        showBorder: true,
      }
    }
  },
  computed: {
  },
  methods: {
    returnData() {
      this.$emit('backTo', this.contentToEdit);
    }
  }
}
</script>
