<template>
  <b-container id="app" fluid class="h-100">

    <div>
      <b-navbar toggleable="lg">
        <b-navbar-brand @click="switchTo('List')">Prop'Helper</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item @click="switchTo('List')">List</b-nav-item>
            <b-nav-item @click="switchTo('Minify')">Minify/Beautify</b-nav-item>
            <b-nav-item @click="switchTo('Sandbox')">Sandbox</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>

    <component v-bind:is="currentTabComponent" v-bind:properties="properties"></component>

  </b-container>
</template>

<style>
body, html {
  min-height: 100%;
}
.top-row {
  margin-top: 30px;
}
</style>

<script>
// @ is an alias to /src
import List from './views/List'
import Sandbox from './views/Sandbox'
import Minify from './views/Minify'

export default {
  name: 'App',
  components: {List, Sandbox, Minify},
  data () {
    return {
      currentTabComponent: 'List',
      form: {
        propertiesNb: 2
      },
      properties: {list: [
          {
          cle: 'resolution.titre.01',
          contenu: '<ul><li>Item 1</li><li>Item 2</li><li>Item 3</li></ul>',
          },
          {
          cle: 'resolution.texte.01',
          contenu: '<ul><li>Item 1</li><li>Item 2</li><li>Item 3</li></ul>',
          }
        ]},
      propertiesList: {
        list: [
          {
          cle: 'resolution.titre.01',
          contenu: '<ul><li>Item 1</li><li>Item 2</li><li>Item 3</li></ul>',
          },
          {
          cle: 'resolution.texte.01',
          contenu: '<ul><li>Item 1</li><li>Item 2</li><li>Item 3</li></ul>',
          }
        ]
      },
      editorData: { data: '<ul><li>Item 1</li><li>Item 2</li><li>Item 3</li></ul>'},
      importExportProps: {
        minifiedContent: '',
        beautifiedContent: '',
      },
      editor: null,
    }
  },
  created() {
    window.addEventListener('beforeunload', function(e) {
      e.preventDefault(); 
      e.returnValue = '';
    });
  },
  methods: {
    switchTo(tab) {
      switch (tab) {
        case 'List':
          this.properties = this.propertiesList;
          this.currentTabComponent = 'List';
          break;
        case 'Minify':
          this.properties = this.importExportProps;
          this.currentTabComponent = 'Minify';
          break;
        case 'Sandbox':
          this.properties = {};
          this.currentTabComponent = 'Sandbox';
          break;
        default:
          break;
      }
    },
    handler: function handler(event) {

    }
  }
}
</script>
